/*general*/

body
{
    font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6
{
	display: block;
    color: #536e7b;
	font-weight: 400;
}

h2
{
	margin-bottom: 30px;
}

p
{
	line-height: 1.75rem;
	font-weight: 300;
	color: rgb(83, 110, 123);
}

a
{
	text-decoration: none;
}

/*header*/

.header
{
	max-width: 1170px;
	min-height: 80px;

	margin-left: auto;
	margin-right: auto;

	padding: 0 30px;
}

.navigation
{
	float: right;
	height: 80px;
}

.navigation-item
{	
	display: inline-block;
	margin-left: 15px;
	margin-top: 33px;

	text-transform: uppercase;
	font-size: 15px;
	color: gray;

	cursor: pointer;
}

.navidation-item:hover
{
	color: rgb(200, 25, 25);
}

/*data blocks*/

.block-outer-first
{
	padding: 90px 0;
	border-top: 1px solid rgb(240, 240, 240);
}

.block-outer
{
	padding: 0 0 90px 0;
}

.block-inner
{
	display: block;
	max-width: 1170px;

	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
}

.block-column-container
{
	white-space: nowrap;
}

.block-column
{
	white-space: normal;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;

	vertical-align: top;
}

.block-column-left
{
	padding-right: 35px;
}

.block-column-right
{
	padding-left: 35px;
}

/*other*/

.try-area
{
	background-color: rgb(240, 240, 240);
	padding: 90px 60px;
	text-align: center;
}

.try-button
{
	display: inline-block;
	padding-top: 11.25px;
	padding-right: 15px;
	padding-bottom: 10.5px;
	padding-left: 15px;

	font-size: 0.875rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-weight: 500;

	border-radius: 2px;

	color: white;
	background-color: rgb(200, 25, 25);
	
	margin-bottom: 10px;
}

.try-button:hover
{
	cursor: pointer;
}

.recomendations-title
{
	padding-bottom: 50px;
	margin-top: 8px;
}

.hidden_input
{
    display:block;
    height:0;
    width:0;
}

.cloud
{
	background-color: rgb(240, 240, 240);
	padding: 40px 0;
	margin: 0 0 50px 0;
}

.cloud-item
{
	background-color: rgb(230, 230, 230);
	padding: 15px 30px;
	margin: 10px;
	text-align: center;
	color: rgb(200, 25, 25);
	
	display: inline-block;

	font-weight: 300;
	font-size: 30px;
}

/*test*/

.track-area
{
	padding-bottom: 20px;
	display: block;
}

.play-stop
{
	display: inline-block;
	vertical-align: middle;

	margin-right: 20px;
	cursor: pointer;
}

.track-name
{
	/*line-height: 1.75rem;*/
	font-weight: 500;
	color: rgb(83, 110, 123);

	display: inline-block;
	vertical-align: middle;
}

.time
{
	line-height: 1.25rem;
	font-weight: 300;
	color: rgb(83, 110, 123);

	vertical-align: middle;
	float: right;
}